<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block content %}
    {% endblock %}
    {% if logged and shift_started %}
    {% url 'user_end_shift' as user_end_shift_url %}
    <a href="{{ user_end_shift_url }}" style="">end</a>
    {% endif %}
    {% if logged and not shift_started %}
    {% url 'user_start_shift' as user_start_shift_url %}
    <a href="{{ user_start_shift_url }}">start</a>
    {% endif %}
    {% if logged %}
    {% url 'list_of_shifts' as list_of_shifts_url %}
    <a href="{{ list_of_shifts_url }}" style="">zmiany</a>
    {% url 'log_out' as log_out_url %}
    <a href="{{ log_out_url }}" style="">logout</a>
    {% endif %}
</head>
<body style="background-color:blue">
</body>
</html>