<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block content %}
    {% endblock %}
    {% if logged and shift_started %}
    {% url 'user_end_shift' as the_url %}
    <a href="{{ the_url }}" style="">end</a>
    {% endif %}
    {% if logged and not shift_started %}
    {% url 'user_start_shift' as the_url %}
    <a href="{{ the_url }}">start</a>
    {% endif %}
    {% if logged %}
    {% url 'list_of_shifts' as the_url %}
    <a href="{{ the_url }}" style="">zmiany</a>
    {% url 'log_out' as the_url %}
    <a href="{{ the_url }}" style="">logout</a>
    {% endif %}
</head>
<body style="background-color:blue">
</body>
</html>