{% extends 'shift/base.html' %}
{% block content %}
{% if shift_list %}
{% url 'delete_shift' as the_url %}
<form method="POST" action="{{ the_url }}">
{% csrf_token %}
<table>
    <tr>
        <th>zaznacz</th>
        <th>start</th>
        <th>end</th>
    </tr>
        {% for i in shift_list %}
        <tr>
        <td><input name="shift_id" type="checkbox" value="{{i.id}}"></td>
        <td>{{i.start_time}}</td>
        <td>{{i.end_time}}</td>
        </tr>
        {% endfor %}
    </table>
        <button>delete shift</button>
</form>
{% endif %}
{% endblock %}

